.env
node_modules
node_modules
node_modules
node_modules
.expo/
node_modules
node_modules/

.expo/
.env*
!.env.example  # Optional if you have one
# Secrets (do not commit)
play-service-account.json

# Local backups
eas.backup.json

package-lock.json
